@import "pallet.scss";
body {
  background: $main-body;
  color: $white;
  direction: rtl;
  font-size: 14px;
  margin: 0!important;
}

.responsive-img {
  display: block;
  width: 100%;
}

.center-text {
  text-align: center;
}

//top menu
.top-menu {
  height: 80px;
  background: $top-menu;
}

.login-btn {
  margin-left: 25px!important;
  background: $light-blue;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

//main menu
.main-menu {
  height: 60px;
  background: $main-menu;
}

.request-btn {
  margin-right: 25px!important;
  background: $green;
  text-align: center;
  padding: 8px 10px;
  border-radius: 20px;
}

.content-header {
  text-align: center;
  margin: 50px 0 32px;
  //&::after {
  //  content: "";
  //  width: 10px;
  //  height: 1px;
  //  border: none;
  //  background: $white;
  //}
  &::before{

  }
}

.he {
  &::after {
      content: "";
    //box-shadow: 216px 0 20px 20px #5e3838;
    padding: 0 10px;
  }
}

.white-box {
  background: $white;
  border-radius: 10px;
  padding: 50px 50px 20px;
  color: #393737;
  box-shadow: 1px 1px 20px 3px #aaa;
}

.blue-text {
  color: $light-blue;
  font-weight: bolder!important;
}

.margi {
  margin: 32px 0!important;
}

.more-info-btn {
  background: $light-blue!important;
  color: $white!important;
  padding: 6px 20px!important;
  -webkit-border-radius: 10px!important;
  -moz-border-radius: 10px!important;
  border-radius: 10px!important;
  box-shadow: 0 6px 17px -3px $light-blue!important;
  font-weight: bolder!important;
  font-size: 16px!important;
}
.green-text {
  color: $green;
  font-weight: bolder!important;
  //font-size: 16px!important;
}

//footer
.footer{
  background: #144977;
  margin: 50px 0 10px;
}
.footer-logo{
  background: url("./../Images/footer-logo.png") no-repeat center;
  background-size: cover;
  height: 394px;
}
.footer-title{
  border-bottom: 1px solid $white;
  padding: 10px;
  margin-bottom: 10px!important;
}

.social-networks {
  color: #144977;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 7px;
  font-size: 30px;
  margin: 10px;
}